@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-menu {
    padding: 2rem;
    border-radius: 15px;
    background-image: linear-gradient(to right, #777, #333);
    color: white;
    background-color: black;
}
